Additional SSH key algorithms

Would you be open to extending `ssh-key` to support encoding OpenSSH keys that use custom algorithms (see [section 6 of RFC4251](https://www.rfc-editor.org/rfc/rfc4251#section-6))? My use case involves encoding/decoding keys that have a custom algorithm name, e.g. `x25519@torproject.org`.

If you're open to the idea, I'd be happy to work on a patch to support this. 

For context, I am helping build a key store for [Arti](https://gitlab.torproject.org/tpo/core/arti) (a Tor implementation in Rust). We're storing keys in OpenSSH private key format and using `ssh-key` to encode/decode them. I've found myself having to define a custom SSH key algorithm because we need to support x25519 keys, which don't have a predefined [SSH key algorithm name](https://www.iana.org/assignments/ssh-parameters/ssh-parameters.xhtml#ssh-parameters-19) (and thus aren't supported by this crate).

I realize we could be implementing our own encoders using the `ssh_encoding` crate, but I thought I'd ask anyway, just in case this is something you'd like to support in `ssh-key`.


Here's the refactoring I have in mind:
   * define some traits for key data/keypair data operations: `EncodableKeyData`, `EncodableKeypairData`
   * make `PublicKey` and `PrivateKey` generic over the key data: `PublicKey<KP: EncodableKeyData>`, `PrivateKey<KP: EncodableKeyData, KS: EncodableKeypairData for<'a> TryFrom<&'a KP, Error = ...>`. This will enable users to plug their own "key data" types into `PublicKey` and `PrivateKey`
   * give `EncodableKeyData` an `algorithm_str(&self) -> &'static str` method to allow implementers to specify a custom algorithm name for encoding/decoding purposes
   * make `EncodableKeyData`, `EncodableKeypairData` extend `Encode, `Decode` (and possibly other traits as well)
   * implement `EncodableKeyData` for `KeyData` and `EncodableKeypairData` for `KeypairData`
   
This will make it possible to use the existing `PublicKey` and `PrivateKey` implementations with a custom key algorithm.

I think it would be a lot simpler to add a catch-all variant to enums like `KeyData`, e.g. `KeyData::Other`, that stores the algorithm name and binary encoded key

Thanks for looking into this - a catch-all variant sounds good! I'll try to implement your suggestion and follow up with a PR if it works out. 

I added catch-all variants to `KeyData`, `Keypair`, and `Algorithm` in #136. 